*.iws
*Db.properties
*Db.script
.settings
stacktrace.log
/*.zip
/plugin.xml
/*.log
/*DB.*
/cobertura.ser
.DS_Store
/target/
/out/
/web-app/plugins
/web-app/WEB-INF/classes
/.link_to_grails_plugins/
/target-eclipse/
/web-app/VAADIN/widgetsets
/web-app/VAADIN/gwt-unitCache
/.classpath
/.project
*.iml
/.idea
/grailsw
/grailsw.bat
/wrapper
